@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <a asp-controller= "Home" asp-action="Expenses" class="btn btn-primary"> Overview </a> @*Will route to the expenses view*@
    <a asp-controller= "Home" asp-action="CreateEditExpense" class="btn btn-secondary"> Create new </a> @*Will route to the createeditexpense view*@
</div>