@{
    ViewData["Title"] = "Blog Index";
}

@model List<Blog.Models.BlogPost>

<h2>Blog Posts</h2>
<a class="btn btn-success mb-3" asp-controller="Blog" asp-action="Create">+ Create New Post</a>
@foreach(var post in Model) {
    <div class="mb-4">
        <h3>@post.Title</h3>
        <p>@post.Description</p>
        <small><strong>Author:</strong> @post.Author | <strong>Date:</strong>@post.Date.ToShortDateString()</small>
        <hr/>
    </div>
}